<!--The content below is only a placeholder and can be replaced.
<h1>{{title}}</h1>
-->
<div id="titleImages">
    <img src="assets/padsLogo.jpg">
</div>

<div id="actionArea">
    <button mat-fab color="warn" aria-label="Start Extraction" (click)="StartExtraction()">
        <mat-icon>double_arrow</mat-icon>        
    </button>
    <h3 class="links">Start Extraction</h3>


</div>

<div id="linksContainer">
    <h3 class="links"><a target="_blank" rel="noopener" href="https://www.sap.com/uk/index.html"> SAP </a></h3>
    <h3 class="links"><a target="_blank" rel="noopener" href="https://www.pads.rwth-aachen.de/go/id/pnbx/">PADS Chair</a></h3>
</div>
