<igx-tabs>
    <igx-tab-item>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>bubble_chart</igx-icon>
        <span igxTabHeaderLabel>Graph</span>
      </igx-tab-header>
      <igx-tab-content>
        <div id="mynetwork" #siteConfigNetwork style="height: 60vh">
    
        </div>
      </igx-tab-content>
    </igx-tab-item>
    <igx-tab-item>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>table_view</igx-icon>
        <span igxTabHeaderLabel>Table</span>
      </igx-tab-header>
      <igx-tab-content>
        <div>
            <igx-grid #creationTableNodeGrid [data]="data" [autoGenerate]="false" [allowFiltering]="true" height="500px"
            [rowSelection]="'multiple'" [primaryKey]="'Id'">
            
              <igx-column field="Id" [dataType]="'string'" [sortable]="true" header="Neo4J ID" width="200px"></igx-column>
            
              <igx-column field="Name" [dataType]="'string'" [sortable]="true" header="Name" [filterable]="true"></igx-column>
              <igx-column field="Description" [dataType]="'string'" [sortable]="true" header="Description" [filterable]="false"></igx-column>
              <igx-column field="ENTRYCOUNT" [dataType]="'number'" [sortable]="true" header="Count" [filterable]="false"></igx-column>
              <igx-paginator [perPage]="10">
              </igx-paginator>
            </igx-grid>
        </div>
      </igx-tab-content>
    </igx-tab-item>
  </igx-tabs>






<igx-dialog #nodeInfoDialog style="height: 500px;">
  <igx-dialog-title>
    <div class="title-container">
        <igx-icon>grain</igx-icon>
        <div class="dialog-title">More Info</div>
    </div>
  </igx-dialog-title>

  <igx-list>
    <igx-list-item [isHeader]="true">Properties</igx-list-item>
    <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item *ngFor="let prop of currentClickedNodeProperties;">
        <span igxListLineTitle>{{ prop.Name }}</span>
        <span igxListLineSubTitle>{{ prop.Value }}</span>
    </igx-list-item>
  </igx-list>

  <div igxDialogActions>
    <button igxButton (click)="CloseDialog()">Close</button>
  </div>
</igx-dialog>


<igx-linear-bar #progressBar [value]="100" type="info" [striped]="true"></igx-linear-bar>